<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.mk.music.ludi">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Ludi"
        tools:targetApi="31">
        <activity
            android:name=".MyAdapter"
            android:exported="false" />
        <activity
            android:name=".player"
            android:exported="false" />
        <activity
            android:name=".Song"
            android:exported="false" />
        <activity
            android:name=".SongTools"
            android:exported="false" />
        <activity
            android:name=".MainActivity2"
            android:exported="false" />
        <activity
            android:name=".Music"
            android:exported="false" />

        <service
            android:name=".UserService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".User"
            android:exported="false" />
        <activity
            android:name=".DatabaseHelper"
            android:exported="false" />
        <activity
            android:name=".Code"
            android:exported="false" />
        <activity
            android:name=".zhuce"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>